<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <header>
    <h1>hello this is the contact page </h1>
    </header>
  <body>
    <p>
      this is my number <strong>0694588433</strong> 
    </p>
  </body>
</html>